.button {
  outline: 1px solid #7c3aed;
  color: #7c3aed;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  margin: 1.25rem 0;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.button:hover {
  background-color: #7c3aed;
  color: white;
}
