.container {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #7e22ce;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.input {
  width: 100%;
  border: 2px solid #ede9fe;
  padding: 0.5rem;
  border-radius: 0.375rem;
  outline: none;
}

.input:focus {
  border-color: #c4b5fd;
}

.button {
  background-color: #7e22ce;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #6b21a8;
}
