/* app/ui/styles/Header.module.css */

.header {
    height: auto; /* Adjust as needed */
    background-image: url('/images/logo-3.jpg');
    background-size: cover;
    background-position: 0% 40%;
    background-repeat: no-repeat;

    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 1rem;
    /* background-color: #f9fafb; */
    border-bottom: 1px solid #ddd;
  }
  
  .title {
    font-size: 2rem;               /* Bigger size */
    font-weight: 900;              /* Extra bold */
    color: white;                  /* Strong contrast */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); /* Makes text stand out */
    padding-left: 1rem;
  }
  
  
  .authControls {
    /* display: flex; */
    /* align-items: center; */
    gap: 1rem;
  }
